<div class="slider">
  <div class="slider-container" [accessKey]="currentIndex">
    @if (currentIndex === 0) {
    <div>
      <img src="/assets/icons/logo.svg" alt="Logo" />
      <img src="/assets/icons/logo_name.svg" alt="DO IT" />
    </div>
    }@else{
<div>

    <img
    [src]="slides[currentIndex].image"
    alt="Slide image"
    class="slide-image"
    />
</div>
    }
    <p class="slide-text">{{ slides[currentIndex].text }}</p>
  </div>
  <div class="slider-controls">
    @if (currentIndex !== 0) {
    <div class="pagination">
      @for (slide of slides; track slide.text; let idx = $index) {

      <div [class.active]="idx === currentIndex" class="dot"></div>
      }
    </div>
    }
    <button (click)="nextSlide()" class="next-button">
        @if (currentIndex === 0) {
       <p>start</p>
    } 
    @else if (currentIndex === 4) {
      <p>ok</p>
    } 
    @else {
      <h2> → </h2>
    }
    </button>
  </div>
</div>
