<form [formGroup]="form">
    <app-input-component
    formControlName="name"
    placeholder="{{ TEXTS.name }}"
    [invalid]="
      (form.get('name')?.invalid &&
        form.get('name')?.touched &&
        form.get('name')?.dirty) ||
      false
    "
    [errors]="form.get('name')?.errors ?? null"
  ></app-input-component>
  <app-input-component
    formControlName="email"
    placeholder="{{ TEXTS.email }}"
    [invalid]="
      (form.get('email')?.invalid &&
        form.get('email')?.touched &&
        form.get('email')?.dirty) ||
      false
    "
    [errors]="form.get('email')?.errors ?? null"
    icon="assets/icons/envelope_icon.png"
  ></app-input-component>
  <app-input-component
    formControlName="password"
    placeholder="{{ TEXTS.password }}"
    [invalid]="
      (form.get('password')?.invalid &&
        form.get('password')?.touched &&
        form.get('password')?.dirty) ||
      false
    "
    [errors]="form.get('password')?.errors ?? null"
    icon="assets/icons/icon_lock.png"
  ></app-input-component>
  <app-input-component
    formControlName="confirmPassword"
    placeholder="{{ TEXTS.confirmPassword }}"
    [invalid]="
      (form.get('confirmPassword')?.invalid &&
        form.get('confirmPassword')?.touched &&
        form.get('confirmPassword')?.dirty) ||
      false
    "
    [errors]="form.get('confirmPassword')?.errors ?? null"
    icon="assets/icons/icon_lock.png"
  ></app-input-component>
  <app-button-component
    [label]="TEXTS.signUp"
    (click)="onSubmit()"
    type="button"
  ></app-button-component>
  @if (drawerType === "success") {
    <app-drawer [open]="isOpen" (closed)="closeSheet()">
      <div class="drawer-container">
        <img src="assets/images/Checkmark.png" alt="ok image" />
        <h3>{{ TEXTS.yourAccountSuccessfully }}</h3>
        <p>{{ TEXTS.receiveEmail }}</p>
        <a href="verification"> {{ TEXTS.verifyCode }} </a>
      </div>
    </app-drawer>
  }
</form>
