<div class="input-wrapper" [class.light]="theme === 'light'" [class.dark]="theme === 'dark'">
  @if (icon === "") {
    <span></span>
  } @else {
    <span class="icon">
      <img [src]="icon" alt="icon" />
    </span>
  }
  <input
    [type]="type"
    [value]="value"
    [placeholder]="placeholder"
    (input)="onInput($event.target.value ?? '')"
    (blur)="registerOnTouched($event)"
  />
</div>
@if (!invalid) {
  <div class="error-message">
    <span class="error-text">{{ firstErrorMessage }}</span>
  </div>
}
